################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/FileDataBase/x64/Debug
/.vs/StudentsFileDB/v16
